{% extends "layoutAdmin.njk" %}
    {% block content %}
    <main class="container main-content">
        <div class="main-text-form">
            <h1>Criando chef</h1>
            <button fclass="buttons" form="form-create"type="submit">Salvar chef</button>
        </div>
        <form  id="form-create" method="post" action="/admin/chefs">
                {%include "admin/chefs/fields.njk"%}
        </form>
    </main>
        
{% endblock %}