{% extends "layoutAdmin.njk" %}
    {% block content %}
    <main class="container main-content">
        <div class="main-text-form">
            <h1>Editando chef</h1>
            <div class="buttons">
            <button form="form-delete"type="submit">Deletar</button>
            <button form="form-edit"type="submit">Salvar chef</button>
            </div>
        </div>
        <form class="form" id="form-edit" method="post" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
                {%include "admin/chefs/fields.njk"%}
                <input 
                        type="hidden" 
                        name="id" 
                        value="{{chef.id}}"> 
        </form>

        <form class="form" id="form-delete" method="post" action="/admin/chefs?_method=DELETE">
                {%include "admin/chefs/confirm.njk"%}
                <input 
                        type="hidden" 
                        name="id" 
                        value="{{chef.id}}"> 
        </form>
    </main>
        
{% endblock %}