<div class="items">
    <div class="item">
        <div>Nome</div>
        <div>
            <input
                type="text"
                name="name"
                placeholder="Nome do chef"
                value="{{chef.name}}"
            />
        </div>
    </div>

    <div class="item">
        <div>Avatar</div>
        <div>
            <input
                type="url"
                value="{{chef.file_id}}"
            >
        <div id="photo-chef-upload">
             <input
             id="photo-input-chef"
            type="file"
            accept="image/*"
            name="photo-chefs"
            onChange="PhotoUploadChef.handleFileInput(event)"
            >
            <p>Enviar Arquivo</p>
        </div>
        <div id="photo-chef-preview"></div>
        </div>
    </div>
</div>