{% extends "layoutAdmin.njk" %}

{% block content %}
<main class="main-show-recipe">
  <div class="show-title-recipe">
      <h1>Chef: {{chef.name}}</h1>
      <a class="button"href="/admin/chefs/{{chef.id}}/edit" >Editar chef</a>
  </div>
  <div class="chef-details-content">
      <img src="{{chef.avatar_url}}">
      <h3>{{chef.name}}</h3>
      <p>{{chef.total_recipes}} receitas</p>
  </div>
</main>
<section class="recipes-box">
  <h2> Receitas </h2>
  <div class="recipes">
            {%for recipe in recipes %}
            <div class="recipe-content">
                <img src="{{recipe.image}}">
                  <div class="recipe-content-text">
                    <h3 >{{recipe.title}}</h3>
                    <p > por {{chef.name}} </p>
                    <a href="/admin/recipes/{{recipe.recipe_id}}" > Visualizar </a>
                  </div>
            </div>
            {%endfor%}        
  </div>
</section>
{% endblock %}

