{% extends "layout.html" %}
    {% block content %}
    <main class="main-content">
        <div class="main-text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="illustration-img">
            <img src="/assets/chef.png" alt="Ilustração chef de cozinha">
        </div>
    </main>
    <section class="recipes-box">
        <h2>Mais acessadas</h2>
        <div class="recipes">
            <div class="recipe-content">
                <img src="/assets/burger.png">
                <h3>Triplo bacon burguer</h3>
                <p>por Jorge Relato</p>
            </div>

            <div class="recipe-content">
                <img src="/assets/pizza.png">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>

            <div class="recipe-content">
                <img src="/assets/espaguete.png">
                <h3>Espaguete ao molho</h3>
                <p>por Júlia Kinoto</p>
            </div>

            <div class="recipe-content">
                <img src="/assets/lasanha.png">
                <h3>Lasanha mac n' cheese</h3>
                <p>por Juliano Vieira</p>
            </div>

            <div class="recipe-content">
                <img src="/assets/doce.png">
                <h3>Docinhos pão-do-céu</h3>
                <p>por Ricardo Golveia</p>
            </div>

            <div class="recipe-content">
                <img src="/assets/asinhas.png">
                <h3>Asinhas de frango ao barbecue</h3>
                <p>por Vania Steroski</p>
            </div>

        </div>
        </section>
        
{% endblock %}