{% extends "layout.njk" %}

{% block content %}
  <div class="recipe-details-content">
                    <img src="{{items.image}}">
                    <h3>{{items.title}}</h3>
                    <p>{{items.author}}</p>
 </div>
{% endblock %}