{% extends "layout.njk" %}
    {% block content %}
    <main class="main-content">
        <div class="main-text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="illustration-img">
            <img src="/assets/chef.png" alt="Ilustração chef de cozinha">
        </div>
    </main>
    <section class="recipes-box">
        <h2>Mais acessadas</h2>
        
        <div class="recipes">
            {% for item in items%}
            <div class="recipe-content">
                <img src="{{item.image}}">
                <h3>{{item.title}}</h3>
                <p>{{item.author}}</p>
            </div>
            {% endfor %}
        </div>
        
        </section>
        
{% endblock %}