<div class="items">
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input
                type="url"
                name="image"
                placeholder="http://"
                value="{{recipe.image}}"
            />
        </div>
    </div>

    <div class="item">
        <div>Nome da receita</div>
        <div>
            <input
                type="text"
                name="title"
                placeholder="Nome da receita"
                value="{{recipe.title}}"
            />
        </div>
    </div>

    <div class="item">
        <div>Chef</div>
        <div>
            <select name="chef"
                    placeholder="Selecione um chef">
                {% for chef in chefsOptions %}
                    <option
                        
                        value="{{chef.id}}" {%if recipe.chef_id == chef.id %}
                        selected {%endif%} >{{chef.name }}</option>
                {% endfor %}
                    <option                         
                        value="" {%if recipe.chef_id == chef.id %}
                        selected {%endif%} >Selecione um chef</option>
            </select>                    
        </div>
    </div>

    <div class="item">
        <div id="ingredients">Ingredientes
        {%if not recipe.ingredients %}
        <div class="ingredient">
            <input
                type="text"
                name="ingredients"
                value=""      
            />
        </div>
        {%else%}
        <div class="ingredient">
        {% for item in recipe.ingredients%}
            <input
                type="text"
                name="ingredients"
                placeholder="Insira um ingrendiente de cada vez"
                value="{{item}}"
                   
            />
        {% endfor%}
        </div>
        {%endif%}
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <div id="preparations">Modo de preparo
        {%if not recipe.preparation %}
        <div class="preparation">
            <input
                type="text"
                name="preparation"
                value=""      
            />
        </div>
        {%else%}
        <div class="preparation">
        {% for item in recipe.preparation%}
            <input
                type="text"
                name="preparation"
                value="{{item}}"
                   
            />
        {% endfor%}
        </div>
        {%endif%}
        </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>              
    </div>

    <div class="item">
        <div >Informações Adicionais</div>
        <div>
            <textarea
                type="text"
                name="information"
            >{{recipe.information}}
            </textarea>
        </div>
        
    </div>

</div>