<script>
function addIngredient() {
  const ingredients = document.querySelector("#ingredients");
  const fieldContainer = document.querySelectorAll(".ingredient");
  // Realiza um clone do último ingrediente adicionado
  const newField = fieldContainer[0].cloneNode(true);
  // Não adiciona um novo input se o último tem um valor vazio
  if (newField.children[0].value == "") return false;

  // Deixa o valor do input vazio
  ingredients.appendChild(newField);
  newField.children[0].value = "";
}

document
  .querySelector(".add-ingredient")
  .addEventListener("click", addIngredient);



  function addPreparation() {
  const preparations = document.querySelector("#preparations");
  const fieldContainer = document.querySelectorAll(".preparation");
  // Realiza um clone do último ingrediente adicionado
  const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

  // Não adiciona um novo input se o último tem um valor vazio
  if (newField.children[0].value == "") return false;

  // Deixa o valor do input vazio
  preparations.appendChild(newField).sort;
  newField.children[0].value = "";
  preparations.newField[1]
}

document
  .querySelector(".add-preparation")
  .addEventListener("click", addPreparation);

</script>