{% extends "layoutAdmin.njk" %}
    {% block content %}
    <main class="main-content">
        <div class="main-text">
            <h1>Gerenciar receitas</h1>
        </div>
    </main>
    <section class="recipes-box">
        
        <div class="recipes">
            {% for item in dadosTeste%}
            <div class="recipe-content">
                <img src="{{item.image}}">
                <div class="recipe-content-text">
                    <h3>{{item.title}}</h3>
                    <p>{{item.author}}</p>
                    <a href="#">Visualizar</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
        </section>
        
{% endblock %}