{% extends "layout.njk" %}
{%block content %}
    <div class="content-chefs">
        <div class="chefs">
            <span></span>
            <div>
                <h3>Júlia Kinoto</h3>
                <small>3 receitas</small>
            </div>
        </div>
    </div>
{% endblock%}