{% extends "layout.njk" %}
{%block content %}
    <section class="content-box">
        <div class="chefs">
            {%for chef in chefs%}
            <div class="content-chef">
                <img src="{{chef.avatar_url}}">
                <div>
                <h3>{{chef.name}}</h3>
                <small>{{chef.total_recipes}} receitas</small>
                </div>
            </div>
            {%endfor%}
        </div>
</section>
{% endblock%}