{% extends "layout.njk" %}
    {%block header %}
    <div class="filter">
         <form action="/search" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
    {%endblock%}
    
    {% block content %}
    <section class="recipes-box">
        <h2 style="margin:0 auto 20px;">Buscando por {{filter}}</h2>
        
        <div class="recipes">
            {% for item in recipes%}
            <div class="recipe-content">
                <img src="{{item.image}}">
                <h3>{{item.title}}</h3>
                <p>por {{item.chef_name}}</p>
            </div>
            {% endfor %}
        </div>
        
        </section>
        
{% endblock %}