{% extends "layout.njk" %}

{% block content %}
  <div class="recipe-details-content">
      <img src="{{recipe.image}}">
      <h3>{{recipe.title}}</h3>
      <p>por {{recipe.chef_name}}</p>
 </div>
<section class="recipe-details">
  <div class="details-ingredients">
    <div class="details-title-content">
      <h4 class="recipe-title">Ingredientes</h4>
      <input class="togle-button" type="button" value="ESCONDER">
    </div>  
    <div class="details-ingredients-content" >
      
      <ul>
        {% for item in recipe.ingredients %} 
        <li>{{item}}</li>
        {% endfor%}
      </ul>
      
    </div>
    
  </div>
  <div class="details-preparation">
    <div class="details-title-content">
      <h4 class="recipe-title">Modo de preparo </h4>
      <input class="togle-button" type="button" value="MOSTRAR">
    </div>
    
    <div class="details-preparation-content active">
       <ul>
        {% for item in recipe.preparation %} 
        <li>{{item}}</li>
        {% endfor%}
      </ul>
    </div>
  </div>
  <div class="details-information">
    <div class="details-title-content">
      <h4 class="recipe-title">Informações adicionais</h4>
      <input class="togle-button" type="button" value="ESCONDER">
    </div>
    <div class="details-information-content">
       <ul>
        <li>{{recipe.information}}</li>
      </ul>     
    </div>

  </div>

</section>
{% endblock %}